/* iPads and Tablets */

@media (max-width: 784px) {

  header section {
    margin-top: 50px;
  }

  header h1 {
    margin: 0 auto;
    margin-top: 75px;
    font-size: 9em;
    text-align: center;
    float: none;
    display: inline-block;

  }

  div.wrapper {
    width: 80%;
  }

  main {
    float: left;
    width: 68%;
    padding-right: 83px;
    overflow: auto;
  }

  .post h2 {
    font-size: 5em;
  }

  .post .pull-quote {
    font-size: 2.5em;
    padding-right: 0;
  }

  .post ul.icons {
    display: block;
    float: none;
    margin: 0 auto;
  }

  .post ul.icons li {
    display: block;
    float: none;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .post p {
    font-size: 1.5em;
  }

  aside.sidebar li {
    display: block;
    list-style-type: none;
    border: none;
  }

  aside.sidebar li a {
    font-size: 1.75em;
  }

  .sidebar section.byline {
    margin-bottom: 10px;
  }

  .sidebar section.byline h3 {
    margin-bottom: 20px;
  }

  section.featured h1 {
    font-size: 5em;
  }

  section.featured h2 {
    font-size: 2.2em;
  }

  footer.main img {
    margin-left: 25px;
  }

  footer.main ul.nav {
    margin-right: 25px;
  }

  footer.main ul.nav li {
    font-size: 1.2em;
  }
}

/* Mobile */
@media (max-width: 480px) {

div.wrapper {
  width: 85%;
  overflow: auto;
  margin: 0 auto;
  margin-top: 60px;
}

  header h4 {
    display: none;
  }

  header img {
    display: none;
  }

  header img.logo-hide {
    display: block;
    margin: 0 auto;
    text-align: center;
    clear: both;
    float: none;
    height: 45px;
    /*width: 40px;*/
    /*margin-left: 200px;*/
  }

  header section {
    overflow: auto;
    margin-top: 5px;
    display: block;
    float: none;

  }

  header h1 {
    font-size: 3.2em;
    margin-top: 20px;
    color: #F8A710;
    display: block;
  }
  header p {
    margin-bottom: 20px;
  }

main {
  width: 100%;
  padding: 0;
}

.post ul.icons {
  display: inline-block;
  float: left;
  margin: 0 auto;
}

.post ul.icons a {
  float: right;
}
.post ul.icons li {
  margin-top: 0;
  overflow: auto;
  margin-left: 0;
  margin-bottom: 10px;
  }

.post ul.icons li h4 {
  display: none;
}


aside.sidebar {
  width: 100%;
}

aside.sidebar section.byline img {
  height: 115px;
}

aside.sidebar h3 {
  margin-top: 15px;
  margin-bottom: 5px;
}

aside.sidebar li {
  border-right: #B2BFC8 solid 1px;
  padding: 0 10px;
  text-align: center;
  display: inline-block;
}

aside.sidebar section.byline h3 {
  margin-bottom: 5px;
}

aside.sidebar section.byline {
  margin-bottom: 95px;
}

section.featured {
  padding: 0 10px;
  text-align: center;
  display: inline-block;
}

section.featured h1 {
  font-size: 4em;
  margin-bottom: 0;
  margin-top: 70px;
}

section.featured ul {
  display: block;
  margin-bottom: 150px;
  width: 90%;
}

section.featured ul h2 {
  font-size: 3em;
  /*color: #fff;*/
}

section.featured li {
  overflow: auto;
  display: block;
  width: 100%;
  margin-top: 20px;
}

footer.main {
  display: block;
}

footer.main ul.nav {
  display: block;
  float: none;
  margin: 0 auto;
  clear: both;
  overflow: auto;
  text-align: center;
  margin-bottom: 50px;
}

footer.main ul.nav li {
  font-size: 1.2em;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  float: none;
}

footer.main img {
  margin: 0 auto;
  display: block;
  text-align: center;
  float: none;
  clear:both;
  margin-bottom: 20px;
  margin-top: 50px;
  height: 50px;
}

footer.main p {
  clear: both;
  margin: 0 auto;
  float: none;
  display: block;
  /*overflow: auto;*/
  text-align: center;
  margin-bottom: 50px;
  width: 50%;
  font-size: 1.8em;
}
}

  /*div.nav {
    float: none;
    margin: 0 auto;
    display: block;
    text-align: center;
  }

  div.nav ul {
    padding: 0;
  }*/
