@font-face {
  font-family: 'Myriad';
  src: url('/Users/maryellenklein/dev/_homework/week01/thursday/fonts/myriad.otf');
}

* {
  box-sizing: border-box;
  font-size: 10px;
}

body {
    background: #fff;
    font-family: 'Myriad', 'Oswald', sans-serif;
    width: 100%;
}

html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    overflow-x: hidden;
}

//HEADER//
header {
  background: url('https://dplacesyouwillgo.files.wordpress.com/2015/06/osakabg.jpg') no-repeat center center transparent;
  //height: 524px;
  overflow: hidden;

h4 {
  float: left;
  color: #fff;
  display: inline-block;
  margin: 25px 0 0;
  font-size: 1.9em;
  font-weight: 400;
  font-family: 'Myriad';
  }

header.main {
  width: 100%;
  margin: 0 auto;
}

section {
    //height: 60px;
    width: 100%;
    background: none;
}


img {
  margin: 15px 20px 20px 140px;
  display: inline-block;
  float: left;
  height: 40px;
}

img.logo-hide {
  display: none;
}

.nav {
  float: right;
  margin-right: 160px;
}

ul {
  margin-top: 22px;
  overflow: auto;
  display: block;
}

li,
a {
  font-size: 1.3em;
  color: #fff;
  float: left;
  padding: 0px 3px;
  list-style-type: none;
  font-family: 'Oswald';
  text-decoration: none;
  }

.icon {
  float: right;
  margin: 3px 0 0;
  font-size: 1.3em;
}

h1 {
    background: none;
    text-align: center;
    color: #fff;
    font-weight: 400;
    font-size: 11em;
    text-shadow: 1px 1px 3px #000;
    margin: 150px auto 0;
    font-family: 'Myriad' sans-serif;
  }

p {
    color: #fff;
    text-align: center;
    font-size: 1.5em;
    margin: 0 auto;
    font-family: 'Helvetica' sans-serif;
    margin-bottom: 190px;
  }
}

header::after .overlay {
    opacity: 1;
}

.overlay {
  background:rgba(0,0,0,.75);
  text-align:center;
  padding:45px 0 66px 0;
  opacity:0;
  display: inline-block;
  overflow: hidden;
  float: left;
  z-index: 99;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
}


//-----------Main Styles---------//

div.wrapper {
  width: 73%;
  margin: 0 auto;
  margin-top: 60px;
}

//------------BLOG POST--------------------------//

main {
  float: left;
  width: 68%;
  padding-right: 83px;
  overflow: auto;
}

.post {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 60px;
  background: #fff;
  overflow: auto;

  .byline {
    margin-top: 20px;
  }

  ul {
    padding-left: 0;
  }

  li {
  list-style-type: none;
  display: inline-block;
  margin-bottom: 0px;
  }

  h2 {
    color: #083452;
    font-size: 6em;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 10px;
    margin-top: 0;
    font-family: 'Oswald';
  }

  img {
    height: 30px;
    width: 30px;
    float: left;
    border-radius: 100px;
  }

  .name {
    color: #156FB2;
    font-size: 1.4em;
    float:left;
    margin: 5px;
  }

   time,
   span {
     color: #A6B2BD;
     text-decoration: underline;
     margin: 5px;
     font-size: 1em;
   }

   span {
     text-decoration: none;
   }

  p {
    font-family: 'Myriad' sans-serif;
    font-size: 1.75em;
    margin-left: 0;
    color: #636C73;
    clear: both;
    line-height: 1.4em;
  }

  .pull-quote {
    color: #116BB2;
    font-size: 3em;
    font-family: 'Myriad' sans-serif;
    font-weight: 400;
    border-left: 2px solid #CBCBCB;
    padding: 10px 20px;
  }
}

.comments {
  overflow: auto;
}

.icons {
  list-style-type: none;
  display: block;
  float: left;
  padding-left: 0;

  li {
    margin-left: 0;
    margin: 5px;
    float: left;
  }

  img {
    padding: 10px;
    background: #5E686F;
    height: 35px;
    width: 35px;
    border-radius: 0px;
  }

  li h4 {
    display: inline-block;
    padding: 10px;
    font-family: 'Helvetica' sans-serif;
    font-weight: 400;
    background: #A3B3BF;
    margin: 0;
    text-align: center;
    font-size: 1.3em;
  }

  a {
    text-decoration: none;
    color: #fff;
    font-size: 1.3em;
  }

  li.share {
    img {
      background: #083452;
    }
    h4 {
      background: #106CB2;
      font-size: 1.3em;
    }
  }
}



//----------SIDEBAR----------------------------//

aside.sidebar {
  float: right;
  width: 31%;
  margin: 0 auto;

  section.byline {
    margin: 0 auto;
    margin-left: 0;
    margin-bottom: 50px;
  }
  section.byline img {
    margin: 0 auto;
    display: block;
    height: 90px;
    border-radius: 100px;
  }

  .byline h3,
  h3 {
  color: #156FB2;
  text-align: center;
  font-size: 2em;
  margin-bottom: 0;
  font-family: 'Myriad';
  }

  ul {
  padding-left: 0;
  margin-top: 0;
  text-align: center;
  }

  li a {
    color: #A6B2BD;
    list-style-type: none;
    text-decoration: none;
    font-size: 1.5em;
  }

  li {
    border-right: #B2BFC8 solid 1px;
    padding: 0 10px;
    text-align: center;
    display: inline-block;
  }

  li:last-child {
    border: none;
  }

  img.ad {
    display: block;
    margin: 0 auto;
    margin-left: 0;
    width: 100%;
  }

  figcaption,
  figcaption a {
    font-size: 1.2em;
    color: #A6B2BD;
    text-align: right;
  }

  h3 {
    text-align: left;
    font-family: 'Oswald';
    font-weight: 400;
    margin-top: 50px;
  }

  h2 {
    color: #B2BFCA;
    font-size: 1.4em;
    font-family: 'Myriad';
    font-weight: 300;
    line-height: 1.6;
  }
}



//----------FEATURED-------------//

section.featured {
  clear:both;
  border-top: #E4E9EC solid 1px;
  padding-top: 0;
  margin-top: 20px;
  overflow: auto;


// .clearfix {
//   overflow: auto;
//   margin-right: 0;
//   display: block;
// }

h1 {
  font-size: 5.8em;
  text-align: center;
  font-family: 'Oswald';
  color: #093552;
  font-weight: 400;
}

ul {
  list-style-type: none;
  overflow: auto;
  padding-left: 0;
  margin-bottom: 0;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

a {
  text-decoration: none;
}

li {
  float:left;
  overflow: auto;
  display: block;
  width: 25%;
  //font-size: 0;
}

h2 {
  width: 100%;
  margin: 0 auto;
  padding: 270px 0px 25px 20px;
  text-align: left;
  font-size: 2.7em;
  font-family: 'Oswald';
  font-weight: 400;
  color: #073250;
  background: url('http://assets.rebelcircus.com/blog/wp-content/uploads/2014/04/harajuku-fashion-fruits-style.jpg') no-repeat center center transparent;
  overflow: auto;
}

h2.post2 {
  background: url('https://s-media-cache-ak0.pinimg.com/736x/95/7f/d0/957fd09e56b87c0347b6e075320ac4c5.jpg') no-repeat center center transparent;
}

h2.post3 {
  background: url('http://1.bp.blogspot.com/-AcKF4U7FhjM/VFi83NIRjrI/AAAAAAAAFHI/4d5x8px_uOc/s1600/fotocabeceradecoratribusurbanas.png') no-repeat center center transparent;
}

h2.post4 {
  background: url('http://farm1.static.flickr.com/67/196801306_ece388dbb6.jpg') no-repeat center center transparent;
}

.overlay {
  position:absolute;
  left:0;
  background: rgba(255,255,255,.5);
}

//  .posts ul {
//   list-style-type: none;
//   padding-left: 0;
//   width: 15px;
//   display: inline;
//   clear:both;
//   text-align: center;
// }
//
// section.featured li {
//   clear:both;
//   float: left;
//   overflow: auto;
// }

}







//FOOTER

footer.main {
  overflow: auto;
  float: none;
  background: #083452;

 img {
  float: left;
  margin: 25px 10px 25px 160px;
}

  p {
  color: #B2BFC8;
  float:left;
  font-size: 1.4em;
  margin: 35px 10px;;
}

 ul.nav {
  list-style-type: none;
  float: right;
  margin-right: 160px;
  padding-left: 0;
  margin-top: 0;
}

 li {
  float: left;
  padding: 0 10px;
  border-right: #54626B solid 1px;
  margin: 35px 0;

  a {
    text-decoration: none;
    font-size: 1.4em;
    color: #B2BFC8;
  }
}

 li:last-child {
  border: none;
}

}






//child
div h1 { //includes all h1's under div
}
div>h1 { //includes only immediate h1 children of div
}
div:first-child { //includes only first child of div
}
