@font-face {
  font-family: 'Myriad';
  src: url("/Users/maryellenklein/dev/_homework/week01/thursday/fonts/myriad.otf"); }

* {
  box-sizing: border-box;
  font-size: 10px; }

body {
  background: #fff;
  font-family: 'Myriad', 'Oswald', sans-serif;
  width: 100%; }

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  overflow-x: hidden; }

header {
  background: url("https://dplacesyouwillgo.files.wordpress.com/2015/06/osakabg.jpg") no-repeat center center transparent;
  height: 524px;
  overflow: hidden; }
  header h4 {
    float: left;
    color: #fff;
    display: inline-block;
    margin: 25px 0 0;
    font-size: 1.9em;
    font-weight: 400;
    font-family: 'Myriad'; }
  header header.main {
    width: 100%;
    margin: 0 auto; }
  header section {
    height: 60px;
    width: 100%;
    background: none; }
  header img {
    margin: 15px 20px 20px 140px;
    display: inline-block;
    float: left; }
  header .nav {
    float: right;
    margin-right: 160px; }
  header ul {
    margin-top: 0;
    overflow: auto;
    display: block; }
  header li,
  header a {
    font-size: 1.3em;
    color: #fff;
    float: left;
    padding: 7px 3px;
    list-style-type: none;
    font-family: 'Oswald';
    text-decoration: none; }
  header .icon {
    float: right;
    margin-top: 10px;
    margin-left: 0;
    margin-bottom: 0;
    font-size: 1.3em; }
  header h1 {
    background: none;
    text-align: center;
    color: #fff;
    font-weight: 400;
    font-size: 11em;
    text-shadow: 1px 1px 3px #000;
    margin: 150px auto 0;
    font-family: 'Myriad' sans-serif; }
  header p {
    color: #fff;
    text-align: center;
    font-size: 1.5em;
    margin: 0 auto;
    font-family: 'Helvetica' sans-serif; }

header::after .overlay {
  opacity: 1; }

.overlay {
  background: rgba(0, 0, 0, 0.75);
  text-align: center;
  padding: 45px 0 66px 0;
  opacity: 0;
  display: inline-block;
  overflow: hidden;
  float: left;
  z-index: 99;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease; }

div.wrapper {
  width: 73%;
  margin: 0 auto;
  margin-top: 60px; }

main {
  float: left;
  width: 68%;
  padding-right: 83px;
  overflow: auto; }

.post {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 60px;
  background: #fff;
  overflow: auto; }
  .post .byline {
    margin-top: 20px; }
  .post ul {
    padding-left: 0; }
  .post li {
    list-style-type: none;
    display: inline-block;
    margin-bottom: 0px; }
  .post h2 {
    color: #083452;
    font-size: 6em;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 10px;
    margin-top: 0;
    font-family: 'Oswald'; }
  .post img {
    height: 30px;
    width: 30px;
    float: left;
    border-radius: 100px; }
  .post .name {
    color: #156FB2;
    font-size: 1.4em;
    float: left;
    margin: 5px; }
  .post time,
  .post span {
    color: #A6B2BD;
    text-decoration: underline;
    margin: 5px;
    font-size: 1em; }
  .post span {
    text-decoration: none; }
  .post p {
    font-family: 'Myriad' sans-serif;
    font-size: 1.75em;
    margin-left: 0;
    color: #636C73;
    clear: both;
    line-height: 1.4em; }
  .post .pull-quote {
    color: #116BB2;
    font-size: 3em;
    font-family: 'Myriad' sans-serif;
    font-weight: 400;
    border-left: 2px solid #CBCBCB;
    padding: 10px 20px; }

.icons {
  list-style-type: none;
  display: block;
  float: left;
  padding-left: 0; }
  .icons li {
    margin-left: 0;
    margin: 5px;
    float: left; }
  .icons img {
    padding: 10px;
    background: #5E686F;
    height: 35px;
    width: 35px;
    border-radius: 0px; }
  .icons li h4 {
    display: inline-block;
    padding: 10px;
    font-family: 'Helvetica' sans-serif;
    font-weight: 400;
    background: #A3B3BF;
    margin: 0;
    text-align: center; }
  .icons li h4 a {
    text-decoration: none;
    color: #fff;
    font-size: 1.3em; }
  .icons li.share img {
    background: #083452; }
  .icons li.share h4 {
    background: #106CB2; }

aside.sidebar {
  float: right;
  width: 31%;
  margin: 0 auto; }
  aside.sidebar section.byline {
    margin: 0 auto;
    margin-left: 0;
    margin-bottom: 50px; }
  aside.sidebar section.byline img {
    margin: 0 auto;
    display: block;
    height: 90px;
    border-radius: 100px; }
  aside.sidebar .byline h3,
  aside.sidebar h3 {
    color: #156FB2;
    text-align: center;
    font-size: 2em;
    margin-bottom: 0;
    font-family: 'Myriad'; }
  aside.sidebar ul {
    padding-left: 0;
    margin-top: 0;
    text-align: center; }
  aside.sidebar li a {
    color: #A6B2BD;
    list-style-type: none;
    text-decoration: none;
    font-size: 1.5em; }
  aside.sidebar li {
    border-right: #B2BFC8 solid 1px;
    padding: 0 10px;
    text-align: center;
    display: inline-block; }
  aside.sidebar li:last-child {
    border: none; }
  aside.sidebar img.ad {
    display: block;
    margin: 0 auto;
    margin-left: 0;
    width: 100%; }
  aside.sidebar figcaption,
  aside.sidebar figcaption a {
    font-size: 1.2em;
    color: #A6B2BD;
    text-align: right; }
  aside.sidebar h3 {
    text-align: left;
    font-family: 'Oswald';
    font-weight: 400;
    margin-top: 50px; }
  aside.sidebar h2 {
    color: #B2BFCA;
    font-size: 1.4em;
    font-family: 'Myriad';
    font-weight: 300;
    line-height: 1.6; }

section.featured {
  clear: both;
  border-top: #E4E9EC solid 1px;
  padding-top: 0;
  margin-top: 20px;
  overflow: auto; }
  section.featured h1 {
    font-size: 5.8em;
    text-align: center;
    font-family: 'Oswald';
    color: #093552;
    font-weight: 400; }
  section.featured ul {
    list-style-type: none;
    overflow: auto;
    padding-left: 0;
    margin-bottom: 0;
    margin: 0 auto;
    width: 100%;
    text-align: center; }
  section.featured li {
    float: left;
    overflow: auto;
    display: block;
    width: 25%; }
  section.featured h2 {
    width: 100%;
    margin: 0 auto;
    padding: 270px 0px 25px 20px;
    text-align: left;
    font-size: 2.7em;
    font-family: 'Oswald';
    font-weight: 400;
    color: #073250;
    background: url("http://assets.rebelcircus.com/blog/wp-content/uploads/2014/04/harajuku-fashion-fruits-style.jpg") no-repeat center center transparent;
    overflow: auto; }
  section.featured h2.post2 {
    background: url("https://s-media-cache-ak0.pinimg.com/736x/95/7f/d0/957fd09e56b87c0347b6e075320ac4c5.jpg") no-repeat center center transparent; }
  section.featured h2.post3 {
    background: url("http://1.bp.blogspot.com/-AcKF4U7FhjM/VFi83NIRjrI/AAAAAAAAFHI/4d5x8px_uOc/s1600/fotocabeceradecoratribusurbanas.png") no-repeat center center transparent; }
  section.featured h2.post4 {
    background: url("http://farm1.static.flickr.com/67/196801306_ece388dbb6.jpg") no-repeat center center transparent; }
  section.featured .overlay {
    position: absolute;
    left: 0;
    background: rgba(255, 255, 255, 0.5); }

footer.main {
  overflow: auto;
  float: none;
  background: #083452; }
  footer.main img {
    float: left;
    margin: 25px 10px 25px 160px; }
  footer.main p {
    color: #B2BFC8;
    float: left;
    font-size: 1.4em;
    margin: 35px 10px; }
  footer.main ul.nav {
    list-style-type: none;
    float: right;
    margin-right: 160px;
    padding-left: 0;
    margin-top: 0; }
  footer.main li {
    float: left;
    padding: 0 10px;
    border-right: #54626B solid 1px;
    margin: 35px 0; }
    footer.main li a {
      text-decoration: none;
      font-size: 1.4em;
      color: #B2BFC8; }
  footer.main li:last-child {
    border: none; }
